# Laravel Backend API URL
VITE_API_URL=http://localhost:8000/api

# App Info
VITE_APP_NAME=Ground Protection
VITE_APP_URL=http://localhost:5173

# Contact Info
VITE_PHONE=+201044044855
VITE_EMAIL=info@ground-eg.com
VITE_WHATSAPP=+201044044855
